.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
  font-weight: bolder;
  margin-top: 20px;
}

.nameError {
  color: red;
  font-weight: bolder;
}
